:root {
    /* font-family */
    --font-family-primary: "Normalidad";
    /* color */
    --bg-accent: #D4FF27;
    --color-accent: #D4FF27;
    --bg-neutrals: #151A1F;
    --color-neutral-300: #6E7681;
    --color-neutral-400: #545E6C;
    --color-neutral-500: #4D545E;
    --bg-neutral-600: #1F272E;
    --bg-neutral-800: #0D1012;
    --color-greenyellow-800: #1F2309;
    --color-black: #000000;
    --color-ruined-smores: #0F1215;
    /* font-size */
    --fs-sm: 12px;
    --fs-base: 14px;
    --fs-xl: 36px;
    --fs-2xl: 96px;
}

/* font-family */
.font-family-primary {
    font-family: var(--font-family-primary);
}

/* color */
.bg-accent {
    background-color: var(--bg-accent);
}

.color-accent {
    color: var(--color-accent);
}

.bg-neutrals {
    background-color: var(--bg-neutrals);
}

.color-neutral-300 {
    color: var(--color-neutral-300);
}

.color-neutral-400 {
    color: var(--color-neutral-400);
}

.color-neutral-500 {
    color: var(--color-neutral-500);
}

.bg-neutral-600 {
    background-color: var(--bg-neutral-600);
}

.bg-neutral-800 {
    background-color: var(--bg-neutral-800);
}

.color-greenyellow-800 {
    color: var(--color-greenyellow-800);
}

/* font-size */
.fs-sm {
    font-size: var(--fs-sm);
}

.fs-base {
    font-size: var(--fs-base);
}

.fs-xl {
    font-size: var(--fs-xl);
}

.fs-2xl {
    font-size: var(--fs-2xl);
}

@media (max-width:991.98px) {
    :root {
        --fs-2xl: 70px;
    }
}
@media (max-width:767.98px) {
    :root {
        --fs-2xl: 60px;
    }
}

@media (max-width:575.98px) {
    :root {
        --fs-2xl: 50px;
        --fs-xl: 30px;
    }
}