@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.max-w-1344 {
    max-width: 1344px !important;
}

.max-w-1440 {
    max-width: 1440px !important;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.rotate-42 {
    transform: rotate(42deg);
}

.z-5 {
    z-index: 5;
}

.z-6 {
    z-index: 6;
}

.rotate-43 {
    transform: rotate(-43deg);
}

.gap-24 {
    gap: 24px;
}

.py-16 {
    padding-top: 16px;
    padding-bottom: 15px;
}

.nav-btn {
    padding: 12px 20px 12px 20px;
    border-radius: 50px;
    border: none;
}

.text-hover {
    padding: 2px 0;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.text-hover::before {
    content: '';
    background: red;
    position: absolute;
    bottom: 0px;
    width: 0;
    height: 2px;
    transition: all 0.3s ease-in-out;
}

.text-hover:hover::before {
    width: 100%;
}

.bg-img {
    background-image: url(../image/png/header-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-btn {
    gap: 8px;
    padding-top: 2px;
    padding-right: 8px;
    padding-bottom: 2px;
    padding-left: 8px;
    border-radius: 40px;
}

.nav-btn-2 {
    gap: 4px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    border-radius: 12px;
}

.nav-btn-3 {
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    border-radius: 12px;
}

.gap-48 {
    gap: 48px;
}

/* header */
.mt-164 {
    margin-top: 164px;
}

.mt-40 {
    margin-top: 40px;
}

.max-w-835 {
    max-width: 835px;
}

.compete-btn {
    border-radius: 12px;
    padding: 16px 24px 16px 24px;
}

.circle {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: var(--bg-neutrals);
}

.max-w-181 {
    max-width: 181px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-132 {
    margin-bottom: 132px !important;
}

/* section 1 */
.mt-47 {
    margin-top: 47px !important;
}

.card-img {
    width: 318px;
    height: 100%;
    padding: 16px 16px 24px 16px;
    border: 1px solid #0F1215;
    border-radius: 16px !important;
    background: #0D1012;
    backdrop-filter: blur(40px)
}

.gap-12 {
    gap: 12px;
}

.max-w-1048 {
    max-width: 1048px;
}

.game-slider .slick-track {
    display: flex;
    gap: 24px;
}

.game-slider .slick-slide {
    height: inherit !important;
}

.mb-96 {
    margin-bottom: 96px;
}

/* section 3 */
.bg-img-2 {
    background-image: url(../image/png/section-2-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.mt-181 {
    margin-top: 181px !important;
}

.video {
    max-width: 888px;
    width: 100%;
    height: 480px;
    border-radius: 16px;
}


.mt-240 {
    margin-top: 240px;
}

.mb-103 {
    margin-bottom: 103px;
}

@media (max-width:991.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        background-color: red !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 5;
    }

    .show-navbar {
        right: 0 !important;
    }
}