@import url(./root.css);

@font-face {
    font-family: "Normalidad";
    src: url(../font/NormalidadCompact-Medium.ttf);
}

/* line height */
.lh-16 {
    line-height: 16px;
}

.lh-18 {
    line-height: 18px;
}

.lh-20 {
    line-height: 20px;
}

.lh-24 {
    line-height: 24px;
}

.lh-36 {
    line-height: 36px;
}

.lh-86 {
    line-height: 86.4px;
}

/* opacity */
.opacity-40 {
    opacity: 40%;
}

.opacity-60 {
    opacity: 60%;
}

/* nav bar  */
.max-w-1344 {
    max-width: 1344px !important;
}

.max-w-1440 {
    max-width: 1440px !important;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
}

.nav-logo {
    padding: 20px 24px !important;
}

.dropdown-box {
    border-right: 1px solid var(--bg-neutral-600);
    border-left: 1px solid var(--bg-neutral-600);
}

.drop-btn {
    padding: 18px 24px !important;
    background-color: var(--bg-neutral)
}

.dropdown-menu a:hover {
    background: var(--bg-accent);
    color: var(--color-black);
}

.ml-24 {
    margin-left: 24px;
}

.z-5 {
    z-index: 5;
}

.gap-24 {
    gap: 24px;
}

.cursor-pointer {
    cursor: pointer;
}

.rotate-42 {
    transform: rotate(42deg);
}

.rotate-43 {
    transform: rotate(-43deg);
}

.z-6 {
    z-index: 6 !important;
}

.text-hover {
    padding: 2px 0;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.text-hover::before {
    content: '';
    background: var(--bg-accent);
    position: absolute;
    bottom: 0px;
    width: 0;
    height: 2px;
    transition: all 0.3s ease-in-out;
}

.text-hover:hover::before {
    width: 100%;
}

.nav-btn {
    gap: 8px;
    padding: 2px 8px 2px 8px;
    border-radius: 40px;
}

.nav-btn-2 {
    padding: 12px 16px 12px 16px;
    border-radius: 12px;
    background-color: var(--bg-neutral-600);
    transition: all 300ms linear;
}

.nav-btn-2:hover {
    color: var(--color-neutral-300) !important;
    background-color: var(--bg-accent);
}

.nav-btn-3 {
    padding: 12px 16px 12px 16px;
    border-radius: 12px;
    background-color: var(--bg-accent);
    transition: all 300ms linear;
}

.nav-btn-3:hover {
    opacity: 70%;
    color: var(--color-black) !important;
}

.gap-48 {
    gap: 48px;
}

/* header */
.parent-box {
    transform: translateY(-50%);
}

.carousel-indicators [data-bs-target] {
    width: 48px !important;
    height: 4px !important;
    cursor: pointer;
    background-color: var(--bg-neutrals) !important;
    transform: translateY(-200px) !important;
    border-top: unset !important;
    border-bottom: unset !important;
    border-radius: 24px;
}

.carousel-indicators .active {
    background-color: var(--bg-accent) !important;
    opacity: 100% !important;
}

.carousel-control-next-icon {
    background-image: url(../image/png/next-arrow.png) !important;
}

.carousel-control-prev-icon {
    background-image: url(../image/png/prev-arrow.png) !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.max-w-835 {
    max-width: 835px;
}

.compete-btn {
    border-radius: 12px;
    padding: 16px 24px 16px 24px;
    border: 1px solid var(--bg-accent) !important;
}

.compete-btn:hover,
.section-4-btn:hover {
    background: var(--bg-neutrals) !important;
    color: var(--color-accent) !important;
    border: 1px solid var(--bg-accent) !important;
}

.circle {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: var(--bg-neutrals);
}

.max-w-181 {
    max-width: 181px;
}

/* section 1 */
.mt-47 {
    margin-top: 47px !important;
}

.mt-57 {
    margin-top: -57px;
}

.card-img {
    width: 318px;
    height: 100%;
    padding: 16px 16px 24px 16px;
    border: 1px solid var(--color-ruined-smores);
    border-radius: 16px !important;
    background: var(--bg-neutral-800);
    backdrop-filter: blur(40px)
}

.pt_4 {
    padding-top: 4px !important;
}

.coming-soon-svg {
    top: 0;
    left: 0;
}

.gap-12 {
    gap: 12px;
}

.max-w-1048 {
    max-width: 1048px;
}

.game-slider .slick-track {
    display: flex;
    gap: 24px;
}

.letter-space {
    letter-spacing: 5px !important;
}

.game-slider .slick-slide {
    height: inherit !important;
}

.mb-96 {
    margin-bottom: 96px;
}

/* section 3 */
.bg-img-2 {
    background-image: url(../image/png/section-2-bg-img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.mt-181 {
    margin-top: 181px !important;
}

.video {
    max-width: 888px;
    width: 100%;
    height: 480px;
    border-radius: 16px;
}

.mt-199 {
    margin-top: 199px;
}

.mb-133 {
    margin-bottom: 133px;
}

/* section-4 */
.section-4-bg-img-box {
    background-image: url(../image/png/section-4-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.pl-96 {
    padding-left: 96px !important;
}

.section-4-btn {
    border-radius: 72px;
    padding: 8px 12px 8px 12px;
    border: 1px solid var(--bg-neutrals);
    transition: all 200ms linear;
}

.max-w-95 {
    max-width: 95px;
}

.max-w-132 {
    max-width: 132px;
}

.max-w-114 {
    max-width: 114px;
}

.gap-8 {
    gap: 8px;
}

.mt-20 {
    margin-top: 20px !important;
}

.max-w-538 {
    max-width: 538px;
}

/* section 5 */

.border-left {
    border-left: 3px solid var(--bg-accent);
}

.pl-16 {
    padding-left: 16px;
}

.gap-7 {
    gap: 7px;
}

.max-w-612 {
    max-width: 612px;
}

.max-w-347 {
    max-width: 347px;
}

.valorant-btn {
    padding: 8px 12px 8px 12px;
    border-radius: 48px;
    max-width: 77px;
    transform: translateY(-15px);
}

.px-24 {
    padding-left: 24px;
    padding-right: 24px;
}

.valorant-btn-2 {
    padding: 4px 8px;
    border-radius: 48px;
    max-width: 77px;
}

.max-w-300 {
    max-width: 300px;
}

.pt-30 {
    padding-top: 30px;
}

.border-radius-bottom-right-left {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.border-radius {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* section 6 */
.section-6-box {
    background: var(--bg-accent);
    border-radius: 12px;
    padding-right: 20px !important;
}

.gradient-light {
    bottom: -33%;
    left: 0;
}

.max-w-457 {
    max-width: 457px;
}

.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.py-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.input {
    max-width: 404px;
    width: 100%;
    height: 40px;
    border-radius: 12px;
    padding-top: 12px 16px 12px 16px;
    padding-left: 10px;
}

.box {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background-color: var(--bg-neutrals);
}

.box:hover {
    background-color: transparent;
    border: 1px solid var(--bg-neutrals) !important;

    path {
        stroke: var(--bg-neutrals);
    }
}

.box-triangle-img {
    bottom: 8px;
    right: 8px;
}

.section-6-line {
    left: 0%;
    top: 20%;
}

.mt-96 {
    margin-top: 96px;
}

/* footer */
.footer-line {
    border: 1px solid var(--bg-neutral-600);
}

.mt-32 {
    margin-top: 32px !important;
}

.pt-32 {
    padding-top: 32px;
}

.pb-32 {
    padding-bottom: 32px;
}

.max-w-991 {
    max-width: 991px;
}

.footer-input {
    width: 380px;
    padding: 12px 16px 12px 16px;
    border-radius: 12px;
    border: none;
    background-color: var(--color-black);
}

.input-circle {
    width: 40;
    height: 40;
    gap: 8px;
    border-radius: 12px;
    padding: 12px;
}

.input-circle:hover {
    background-color: var(--color-black);

    path {
        stroke: var(--bg-accent);
    }
}

.icon-link {
    transition: all 200ms linear;
}

.icon-link:hover {
    transform: translateY(-5px);
}

.pt-12 {
    padding-top: 12px;
}

.pt-16 {
    padding-top: 16px;
}

.mt-56 {
    margin-top: 56px;
}

@media (max-width:991.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        background-color: var(--color-black) !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 5;
    }

    .show-navbar {
        right: 0 !important;
    }

    .py-60 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .py-40 {
        padding-top: 20px !important;
        padding-bottom: 0px !important;
    }

    .section-6-box {
        padding: 20px !important;
    }

    .mt-199 {
        margin-top: 100px;
    }

    .lh-86 {
        line-height: normal;
    }

    .mt-57 {
        margin-top: -20px !important;
    }
}

@media (max-width:767.98px) {
    .mt-57 {
        margin-top: -10px !important;
    }
}

@media (max-width:575.98px) {
    .w_100 {
        width: 100%;
    }

    .pl-96 {
        padding-left: 20px !important;
    }

    .lh-36 {
        line-height: normal;
    }
}